.main {
  background-image: url(https://tomo0714.github.io/practice_coding_shogo-log/images/circle.png);
  background-position: top -128px right -85px;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .main {
    background-size: 60%;
    background-position: top 80px right -100px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1024px) and (max-width: 599px) {
  .main {
    background-size: 150%;
  }
}

.main__inner {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 150px 20px;
}

.main__content {
  text-align: left;
}

.main__title {
  font-size: 32px;
  line-height: 1.43;
  margin-bottom: 44px;
  font-weight: bold;
}

@media only screen and (max-width: 599px) {
  .main__title br {
    display: none;
  }
}

.main__text {
  line-height: 1.5;
  margin-bottom: 45px;
  font-weight: bold;
}

.main__image {
  position: absolute;
  right: 12.591%;
  top: 20%;
}

@media only screen and (max-width: 1024px) {
  .main__image {
    right: -15%;
  }
}

@media only screen and (max-width: 599px) {
  .main__image {
    width: 57%;
    top: 60%;
    right: -6%;
  }
}

.features {
  padding: 0 20px;
}

.features__title {
  margin-top: 71px;
  margin-bottom: 57px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
}

.features__title span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}

.features__inner {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.features__heading {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 49px;
}

.features-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 86px;
}

.features-box--revers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 599px) {
  .features-box {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .features-body {
    width: 50%;
  }
}

@media only screen and (max-width: 599px) {
  .features-body {
    width: auto;
  }
}

.features-body__title {
  font-size: 24px;
  line-height: 2;
  font-weight: bold;
  margin-bottom: 40px;
}

@media only screen and (max-width: 599px) {
  .features-body__title {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .features-body__title br {
    display: none;
  }
}

.features-body__text {
  line-height: 1.6;
}

@media only screen and (max-width: 1024px) {
  .features-body__text br {
    display: none;
  }
}

.price {
  background-color: #EEFBFB;
  padding: 55px 20px 68px;
}

.price__inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.price__title {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 70px;
}

.price__title span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}

.price-table {
  width: 100%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.price-table__header {
  width: 30%;
  padding: 35px 20px;
  border: #E5E5E5 solid 1px;
  line-height: 1.5;
}

.price-table__text {
  width: 70%;
  padding: 35px;
  border: #E5E5E5 solid 1px;
}

.price__comment {
  text-align: center;
  margin-top: 36px;
}

.faq {
  padding: 0 20px;
}

.faq__title {
  margin-top: 55px;
  margin-bottom: 32px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.faq__title span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}

.faq__inner {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.faq-accordion {
  margin-bottom: 86px;
}

.faq-accordion__btn {
  padding: 20px;
  border: #E5E5E5 solid 1px;
  border-bottom-width: 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  color: #333333;
}

.faq-accordion__body {
  display: none;
  background-color: #F2F2F2;
  border: #E5E5E5 solid 1px;
  padding: 20px 35px;
  border-bottom-width: 0;
}

.faq-accordion__body--active {
  display: block;
}

.faq-accordion__text {
  color: #444444;
  font-size: 14px;
  line-height: 1.8;
}

@media only screen and (max-width: 1024px) {
  .faq-accordion__text br {
    display: none;
  }
}

.faq-accordion:last-child {
  border-bottom: #E5E5E5 solid 1px;
}

.blog {
  padding: 55px 20px 91px;
  background-color: #EEFBFB;
  background-color: #EEFBFB;
}

.blog__title {
  margin-bottom: 54px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.blog__title span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}

.blog__inner {
  max-width: 1226px;
  margin-right: auto;
  margin-left: auto;
}

.blog-card {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  width: 28.477%;
  margin-right: 2.196%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.blog-card-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-card-wrapper--col3 {
  margin-bottom: -30px;
}

@media only screen and (max-width: 599px) {
  .blog-card-wrapper {
    display: block;
  }
}

@media only screen and (max-width: 599px) {
  .blog-card {
    width: 100%;
  }
}

.blog-card__img {
  width: 100%;
}

.blog-card__body {
  padding: 18px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.blog-card__text {
  font-size: 18px;
  line-height: 1.4;
}

.blog-card__footer {
  text-align: right;
  padding: 10px;
}

.works__title {
  margin-top: 55px;
  margin-bottom: 68px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.works__title span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}

.swiper-container {
  height: 407px;
  width: 100%;
  margin-bottom: 90px;
}

.swiper-slide {
  border: #E5E5E5 solid 1px;
  border-radius: 8px;
  height: auto;
}

.swiper-slide__img {
  width: 100%;
}

.swiper-slide__body {
  padding: 18px;
}

.swiper-slide__title {
  line-height: 1.5;
  font-weight: bold;
}

.swiper-slide__nav {
  margin-top: 30px;
}

.swiper-slide__list {
  font-size: 14px;
  line-height: 1.4;
}

.contact {
  background: -webkit-gradient(linear, left top, right top, from(#05A5FA), color-stop(100%, #63FBD7), to(#67FFD6));
  background: -webkit-linear-gradient(left, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%);
  background: linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%);
  padding: 63px 20px 70px;
}

.contact__title {
  color: #fff;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.contact__title span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}

.contact__title span {
  color: #fff;
}

.contact__text {
  margin-top: 36px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 44px;
  color: #fff;
}

.contact__inner {
  max-width: 908px;
  margin-right: auto;
  margin-left: auto;
}

.contact-form {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.contact-form__inner {
  padding: 35px 63px;
}

.contact-form__title {
  margin-right: 23px;
}

.contact-form__title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}

.contact-form__mandatory {
  background-color: #0C449B;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}

.contact-form__input {
  border: none;
  background-color: #EEFBFB;
  border-radius: 3px;
  height: 43px;
  width: 54.955%;
  margin-bottom: 27px;
}

@media only screen and (max-width: 599px) {
  .contact-form__input {
    width: 100%;
  }
}

.contact-form__textarea {
  border: none;
  background-color: #EEFBFB;
  border-radius: 3px;
  width: 100%;
  height: 179px;
  margin-bottom: 27px;
}

.contact-form__checkbox {
  border: 1px solid #707070;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.contact-form__checkbox-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.contact-form__checkbox-text {
  font-weight: bold;
  line-height: 1.5;
}

.contact-btn--submit {
  border: none;
  margin: 0 auto;
}

.end-message {
  text-align: center;
  font-size: 24px;
  color: #3BA6C9;
  display: none;
}

.false-message {
  color: red;
  text-align: center;
  margin-top: 20px;
  display: none;
}
/*# sourceMappingURL=front-page.css.map */