/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url(../sass/plugin/swiper.min.css);
@import url(../sass/plugin/aos.css);
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  color: #333333;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 94px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.contact-btn {
  width: 155px;
  height: 37px;
  background: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: -webkit-linear-gradient(left, #FA41CC, #6020B0);
  background: linear-gradient(90deg, #FA41CC, #6020B0);
  color: #fff;
  border-radius: 10px;
  display: block;
  text-align: center;
  line-height: 37px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 94px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.header__inner {
  max-width: 1022px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__logo {
  width: 47px;
  height: 47px;
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 16px;
}

.header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .header-nav {
    display: none;
  }
}

.header-nav__item {
  text-align: center;
  margin-right: 46px;
}

.header-nav__link {
  color: #333333;
}

@media only screen and (max-width: 1024px) {
  .header-btn {
    display: none;
  }
}

.header__toggle-btn {
  display: none;
  height: 47px;
  width: 47px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width: 1024px) {
  .header__toggle-btn {
    display: block;
  }
}

.toggle-menu {
  border: #E5E5E5 solid 1px;
  background: #fff;
  display: none;
}

.toggle-menu__list {
  height: 37px;
  border-bottom: #E5E5E5 solid 1px;
}

.toggle-menu__list:last-child {
  border-bottom-width: 0;
}

.toggle-menu__link {
  display: block;
  margin-left: 20px;
  line-height: 37px;
  color: #333333;
}

.footer {
  background-color: #F8F8F8;
  padding: 43px 20px;
  text-align: center;
}

.footer__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 21px;
}

.footer__text {
  color: #333333;
  font-weight: bold;
  line-height: 1.8;
  margin-left: 29px;
}

.footer__text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 52px;
}

.footer-copyright {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */