@charset "UTF-8";


/* 共通部分
------------------------------------------------------- */
body {
    color: #333333;
    font-family: 'Noto Sans JP', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W6", sans-serif;
    line-height: 1.7;
}
a {
    text-decoration: none;
    color: #333333;
}
img {
    max-width: 100%;
    vertical-align: top;
}
ul {
    list-style-type: none;
}

/* 共通レイアウト
------------------------------------------------------- */
@mixin container {
    max-width: 1022px;
    margin: {
        right: auto;
        left: auto;
    } 
}
.container {
    @include container();
}


/* 共通パーツ
------------------------------------------------------- */

//影
@mixin box-shadow {
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

//ボタン 
@mixin btn {
    display: inline-block;
    max-width: 100%;
    width: 155px;
    background: linear-gradient(90deg, #FA41CC, #6020B0);
    @include box-shadow();
    border-radius: 10px;
    color: #fff;
    font-size: 0.875rem;
    text-align: center;
    padding: {
        top: 11px;
        bottom: 12px;
    }
}
.btn {
    @include btn();
}

//見出し
@mixin h1head {
    font: {
        size: 32px;
    }
}
.h1head {
    @include h1head();
}

@mixin h2head {
    font: {
        size: 28px;
       
    }
}
.h2head {
    @include h2head();
}

@mixin h3head {
    font: {
        size: 24px;
         
    }
    line-height: 2;
}

//小見出し
@mixin subheading($color) {
    color: $color;
}
.subheading {
    &--blue {
        @include subheading(#3BA6C9);
    }
    &--white {
        @include subheading(#fff);
    }
}

//mediaレイアウト
@mixin ly_media {
    display: flex;
    justify-content: space-between;
    text-align: left;
    @include media(tb) {
        display: block;
        text-align: center;
    }
}

//tableのボーダー
$table-border: #E5E5E5 solid 1px;


/* レスポンシブ対応用ミックスイン
------------------------------------------------------- */
$breakpoints: (
    sp: "only screen and (max-width: 599px)",
    tb: "only screen and (max-width: 1024px)",
    pc: "only screen and (min-width: 1280px)",
);
@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

//spで削除
br {
    @include media(sp) {
        display: none;
    }
}


/* HEADER
------------------------------------------------------- */
.header {
    height: 94px;
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 0;
    background-color: #fff;
    @include box-shadow();
    &__inner {
        padding: {
            right: 21px;
            left: 20px;
        }
    }    
}
.header-utilities {
    display: flex;
    justify-content: space-between;
}
.header-titleWrapper {
    display: flex;
    &__logo {
        width: 47px;
        margin: {
            top: 24px;
            right: 16px;
        }
    }
    &__title {
        font: {
            size: 24px;
            weight: bold;
        }
        margin-top: 35px;
    }
}
.header-nav {
    display: flex;
    margin-top: 39px;
    @include media(tb) {
        display: none;
    }
    &__item {
        margin-left: 35px;
    }
}
.header__btn { 
    margin-top: 29px;
    @include media(tb) {
        display: none;
    }
}

//トグルメニュー
.toggle-menu {
    display: none;
    @include media(tb) {
        display: block;
    }
    &__btn {
        width: 57px;
        position: absolute;
        top: 25px;
        right: 15px;
    }
    &__nav {
        display: none;
        border: 1px solid #333333;   
    }
    &__list {
        border-bottom: 1px solid #333333;
        background-color: #fff;
        line-height: 2.5;
        padding-left: 10px;
        &:last-child {
            border-bottom-width: 0;
        } 
    }
    &__link {
        display: block;
    }
}

/* MAIN
------------------------------------------------------- */

//mainvisual

.mainvisual {
    position: relative;
    overflow: hidden;
    &__content-wrapper {
        @include media(tb) {
            width: 80%;
            margin: {
                right: auto;
                left: auto;
            }
        }
    }
    &__image {
        &--circle {
            position: absolute;
            top: -4%;
            right: -6%;
            @include media(tb) {
                top: 40%;
                width: 50%;
            }
            @include media(sp) {
                top: 72%;
            }
        }
        &--main {
            position: absolute;
            top: 19%;
            right: 12.6%;
            @include media(tb) {
                top: 55%;
                right: 10%;
                width: 40%;
            }
            @include media(sp) {
                top: 80%;
            }
        }
    }
    &__inner {
        margin-top: 168px;
    }
    &__text {
        margin-top: 38px;
    }    
    &__btn {
        margin: {
            top: 39px;
            bottom: 155px;
        }
    }
}

//article

.article {
    margin-top: 167px;
    text-align: center;
    @include media(sp) {
        margin-top: 50px;
    }
}
.content {
    &--67 {
        margin-top: 67px;
    }
    &--93 {
        margin-top: 93px;
    }
    &--143 {
        margin-top: 143px;
    }
}
.media {
    @include ly_media;
    &__body {
        @include media(tb) {
            text-align: left;
        }
    }
    &__wrapper {
        @include media(tb) {
            width: 80%;
            margin: {
                right: auto;
                left: auto;
            }
        }
    }
    &--revers {
        flex-direction: row-reverse;
    }
    &__title {
        @include h3head();
        &--108 {
            margin-top: 108px;
        }
        &--73 {
            margin-top: 73px;
        }
        &--94 {
            margin-top: 94px;
        }
        @include media(tb) {
            margin-left: 60px;
        }
        @include media(sp) {
            margin-left: 20px;
        }
    }
    &__img-wrapper {
        &--54 {
            margin-top: 54px;
        }
        &--64 {
            margin-top: 64px;
        }
        &--67 {
            margin-top: 67px;
        }
    }
    &__text {
        &--54 {
            margin-top: 54px;
        }
        &--49 {
            margin-top: 49px;
        }
        &--42 {
            margin-top: 42px;
        }
        @include media(tb) {
            margin-left: 60px;
        }
        @include media(sp) {
            margin-left: 20px;
        }
    }
}

//price-box

.price {
    &-box {
        margin-top: 157px;
        padding: {
            top: 64px;
            bottom: 68px;
        }
        text-align: center;
        &--bg {
            background-color: #EEFBFB;
        }
        &__inner {
            padding: {
                right: 51px;
                left: 51px;
            }
            @include media(sp) {
                padding: 0;
            }
        }
        &__text {
            margin-top: 36px;
        }
    }
    &-table {
        @include box-shadow();
        background-color: #FFFFFF;
        text-align: left;
        margin-top: 70px;
        &__inner {
            width: 100%;
        }
        &__header {
            width: 32.163%;
            padding: 35px 19px;
            border-bottom: 1px solid #E5E5E5;
            border-right: 1px solid #E5E5E5;
        }
        &__text {
            padding: 35px 19px;
            border-bottom: 1px solid #E5E5E5;
        }
        &--scroll {
            @include media(tb) {
                overflow-y: auto;
            }
        }
        &--scroll &__header,
        &--scroll &__text {
            @include media(tb) {
                white-space: nowrap;
            }
        }
    }
}

//FAQ

.faq {
    padding-top: 55px;
    padding-bottom: 86px;
    text-align: center;
    &__inner {
        @include media(tb) {
            width: 80%;
            margin: {
                right: auto;
                left: auto;
            }
        }
    }
}
.accordion {
    margin-top: 32px;
    &__btn {
        display: block;
        font-size: 14px;
        line-height: 1.8;
        cursor: pointer;
        padding: {
            top: 18px;
            bottom: 20px;
        }
        border: $table-border;
        background-color: #FFFFFF;
    }
    &__text {
        font-size: 14px;
        line-height: 1.8;
        text-align: left;
        background-color: #F2F2F2;
        border: $table-border;
        padding: {
            top: 20px;
            bottom: 27px;
            left: 35px;
        }
        @include media(sp) {
            padding: 10px;
        }
    }
    &__body {
        display: none;
        &--active {
            display: block;
        }
    }
}

//BLOG

.blog {
    padding: 55px 69px 91px 70px;
    text-align: center;
    background-color: #EEFBFB;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    @include media(sp) {
        display: block;
    }
    &--col3 > .cards__item {
            width: 31.707%;
            margin: {
                right: 2.43902%;
                top: 54px;
            }
            @include media(sp) {
                width: 100%;
            }
        }
    &--col3 > .cards__item:nth-of-type(3n) {
        margin-right: 0;
    }
}
.card { 
    @include box-shadow();
    text-align: left;
    background-color: #FFFFFF;
    position: relative;
    &__img-wrapper {
        height: 67.183%;
        overflow: hidden;
        @include media(tb) {
            height: 40%;
        }
    }
    &__img {
        width: 100%;
    }
    &__body {
        padding: 14px 30px 35px 18px;
    }
    &__text {
        font-size: 1.125m;
        line-height: 1.4;
    }
    &__date {
        position: absolute;
        top: 91.214%;
        right: 32px;
    }
}

//WORKS

.works {
    padding: {
        top: 55px;
        bottom: 90px;
    }
    text-align: center;

    &-card {
        border: 1px solid #DDDDDD;
        border-radius: 8px;
        text-align: left;
        &__img-wrapper {
            height: 51.842%;
            overflow: hidden;
        }
        &__img {
            width: 100%;
        }
        &__body {
            padding: 19px 16px 40px 18px;
        }
        &__title {
            line-height: 1.5;
        }
        &__nav {
            margin-top: 30px;
        }
        &__list {
            font-size: 14px;
            line-height: 1.5;
        }
    }
}
.swiper {
    &-container {
        width: 100%;
        height: 407px;
        margin-top: 66px;
    }
    &-slide {
        height: auto;
    }
}


//CTA

.cta-area {
    padding: {
        top: 71px;
        bottom: 58px;
    }
    background: linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%);
    text-align: center;
    &__inner {
        color: #FFFFFF;
        @include media(tb) {
            width: 100%;
            margin: {
                right: auto;
                left: auto;
            }
        }
    }
    &__text {
        margin-top: 44px;
    }
    &__btn {
        margin-top: 44px;
    }
}
.contact-form {
    margin-top: 44px;
    padding: {
        right: 57px;
        left: 57px;
    }
    @include box-shadow();
    &--bg {
        background-color: #FFFFFF;
    }
    &__inner {
        padding: {
            right: 62px;
            left: 62px;
        }
        @include media(sp) {
            padding: 0;   
        }
    }
    &__item {
        text-align: left;
    }
    &__list {
        padding-top: 34px;
    }
    &__title-wrapper {
        display: flex;
        @include media(sp) {
            display: block;
        }
    }
    &__title {
        color: #333333;
    }
    &__mandatory {
        background-color: #0C449B;
        border-radius: 10px;
        font-size: 14px;
        line-height: 1.8;
        width: 60px;
        text-align: center;
        margin-left: 20px;
        @include media(sp) {
            margin: {
                top: 10px;
                left: 0;
            }   
        }
    }
    &__input {
        background-color: #EEFBFB;
        border-radius: 3px;
        border: none;
        outline: none;
        width: 54.956%;
        height: 43px;
        margin-top: 36px;
        @include media(sp) {
            width: 100%;
        }
    }
    &__textarea {
        border: none;
        outline: none;
        background-color: #EEFBFB;
        border-radius: 3px;
        margin-top: 36px;
        width: 86.233%;
        height: 179px;
        @include media(sp) {
            width: 100%;
            height: 100px;    
        }
    }
    &__checkbox-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 27px;
    }
    &__checkbox {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    &__checkbox-text {
        color: #333333;
    }
    &__btn {
        border: none;
        margin: {
            top: 30px;
            bottom: 35px;
        }
    }
}

.end-message {
    display: none;
}
  
.false-message {
   display: none;
}

/* FOOTER
------------------------------------------------------- */
.footer {
    background-color: #F8F8F8;
    text-align: center;
    padding: {
        top: 43px;
        bottom: 49px;
    }
    &__title {
        @include h3head();
    }
    &__text-wrapper {
        display: flex;
        justify-content: center;
        @include media(sp) {
            display: block;
        }
        margin: {
            top: 21px;
            bottom: 52px;
        }
    }
    &__text {
        font-weight: bold;
        margin-left: 29px;
    }
    &__copyright {
        font-size: 14px;
    }
}