@charset "UTF-8";
/* 共通部分
------------------------------------------------------- */
body {
  color: #333333;
  font-family: 'Noto Sans JP', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W6", sans-serif;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #333333;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul {
  list-style-type: none;
}

/* 共通レイアウト
------------------------------------------------------- */
.container {
  max-width: 1022px;
  margin-right: auto;
  margin-left: auto;
}

/* 共通パーツ
------------------------------------------------------- */
.btn {
  display: inline-block;
  max-width: 100%;
  width: 155px;
  background: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: linear-gradient(90deg, #FA41CC, #6020B0);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 12px;
}

.h1head {
  font-size: 32px;
}

.h2head {
  font-size: 28px;
}

.subheading--blue {
  color: #3BA6C9;
}

.subheading--white {
  color: #fff;
}

/* レスポンシブ対応用ミックスイン
------------------------------------------------------- */
@media only screen and (max-width: 599px) {
  br {
    display: none;
  }
}

/* HEADER
------------------------------------------------------- */
.header {
  height: 94px;
  position: fixed;
  width: 100%;
  z-index: 50;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.header__inner {
  padding-right: 21px;
  padding-left: 20px;
}

.header-utilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-titleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-titleWrapper__logo {
  width: 47px;
  margin-top: 24px;
  margin-right: 16px;
}

@media only screen and (max-width: 1024px) {
  .header-titleWrapper__logo {
    width: 30px;
    height: 30px;
    margin-top: 32px;
  }
}

.header-titleWrapper__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 35px;
}

@media only screen and (max-width: 1024px) {
  .header-titleWrapper__title {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 599px) {
  .header-titleWrapper__title {
    font-size: 20px;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
}

@media only screen and (max-width: 1024px) {
  .header-nav {
    display: none;
  }
}

.header-nav__item {
  margin-left: 35px;
}

.header__btn {
  margin-top: 29px;
}

@media only screen and (max-width: 1024px) {
  .header__btn {
    display: none;
  }
}

.toggle-menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .toggle-menu {
    display: block;
  }
}

.toggle-menu__btn {
  width: 40px;
  position: absolute;
  top: 30px;
  right: 15px;
}

.toggle-menu__nav {
  display: none;
  border: 1px solid #333333;
}

.toggle-menu__list {
  border-bottom: 1px solid #333333;
  background-color: #fff;
  line-height: 2.5;
  padding-left: 10px;
}

.toggle-menu__list:last-child {
  border-bottom-width: 0;
}

.toggle-menu__link {
  display: block;
}

/* MAIN
------------------------------------------------------- */
.mainvisual {
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .mainvisual__content-wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

.mainvisual__image--circle {
  position: absolute;
  top: -4%;
  right: -6%;
}

@media only screen and (max-width: 1024px) {
  .mainvisual__image--circle {
    top: 40%;
    width: 50%;
  }
}

@media only screen and (max-width: 599px) {
  .mainvisual__image--circle {
    top: 72%;
  }
}

.mainvisual__image--main {
  position: absolute;
  top: 19%;
  right: 12.6%;
}

@media only screen and (max-width: 1024px) {
  .mainvisual__image--main {
    top: 55%;
    right: 10%;
    width: 40%;
  }
}

@media only screen and (max-width: 599px) {
  .mainvisual__image--main {
    top: 80%;
  }
}

.mainvisual__inner {
  margin-top: 168px;
}

.mainvisual__text {
  margin-top: 38px;
}

.mainvisual__btn {
  margin-top: 39px;
  margin-bottom: 155px;
}

.article {
  margin-top: 167px;
  text-align: center;
}

@media only screen and (max-width: 599px) {
  .article {
    margin-top: 50px;
  }
}

.content--67 {
  margin-top: 67px;
}

.content--93 {
  margin-top: 93px;
}

.content--143 {
  margin-top: 143px;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  .media {
    display: block;
    text-align: center;
  }
}

.media--revers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 599px) {
  .media__wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

.media__title {
  font-size: 24px;
  line-height: 2;
}

.media__title--108 {
  margin-top: 108px;
}

.media__title--73 {
  margin-top: 73px;
}

.media__title--94 {
  margin-top: 94px;
}

@media only screen and (max-width: 599px) {
  .media__title {
    margin-left: 20px;
  }
}

.media__img-wrapper--54 {
  margin-top: 54px;
}

.media__img-wrapper--64 {
  margin-top: 64px;
}

.media__img-wrapper--67 {
  margin-top: 67px;
}

.media__text--54 {
  margin-top: 54px;
}

.media__text--49 {
  margin-top: 49px;
}

.media__text--42 {
  margin-top: 42px;
}

@media only screen and (max-width: 599px) {
  .media__text {
    margin-left: 20px;
  }
}

.price-box {
  margin-top: 157px;
  padding-top: 64px;
  padding-bottom: 68px;
  text-align: center;
}

.price-box--bg {
  background-color: #EEFBFB;
}

.price-box__inner {
  padding-right: 51px;
  padding-left: 51px;
}

@media only screen and (max-width: 599px) {
  .price-box__inner {
    padding: 0;
  }
}

.price-box__text {
  margin-top: 36px;
}

.price-table {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  text-align: left;
  margin-top: 70px;
}

.price-table__inner {
  width: 100%;
}

.price-table__header {
  width: 32.163%;
  padding: 35px 19px;
  border-bottom: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}

.price-table__text {
  padding: 35px 19px;
  border-bottom: 1px solid #E5E5E5;
}

@media only screen and (max-width: 1024px) {
  .price-table--scroll {
    overflow-y: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .price-table--scroll .price-table__header,
  .price-table--scroll .price-table__text {
    white-space: nowrap;
  }
}

.faq {
  padding-top: 55px;
  padding-bottom: 86px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .faq__inner {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

.accordion {
  margin-top: 32px;
}

.accordion__btn {
  display: block;
  font-size: 14px;
  line-height: 1.8;
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 20px;
  border: #E5E5E5 solid 1px;
  background-color: #FFFFFF;
}

.accordion__text {
  font-size: 14px;
  line-height: 1.8;
  text-align: left;
  background-color: #F2F2F2;
  border: #E5E5E5 solid 1px;
  padding-top: 20px;
  padding-bottom: 27px;
  padding-left: 35px;
}

@media only screen and (max-width: 599px) {
  .accordion__text {
    padding: 10px;
  }
}

.accordion__body {
  display: none;
}

.accordion__body--active {
  display: block;
}

.blog {
  padding: 55px 69px 91px 70px;
  text-align: center;
  background-color: #EEFBFB;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 599px) {
  .cards {
    display: block;
  }
}

.cards--col3 > .cards__item {
  width: 31.707%;
  margin-right: 2.43902%;
  margin-top: 54px;
}

@media only screen and (max-width: 599px) {
  .cards--col3 > .cards__item {
    width: 100%;
  }
}

.cards--col3 > .cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.card {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  text-align: left;
  background-color: #FFFFFF;
  position: relative;
}

.card__img-wrapper {
  height: 67.183%;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .card__img-wrapper {
    height: 40%;
  }
}

.card__img {
  width: 100%;
}

.card__body {
  padding: 14px 30px 35px 18px;
}

.card__text {
  font-size: 1.125m;
  line-height: 1.4;
}

.card__date {
  position: absolute;
  top: 91.214%;
  right: 32px;
}

.works {
  padding-top: 55px;
  padding-bottom: 90px;
  text-align: center;
}

.works-card {
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  text-align: left;
}

.works-card__img-wrapper {
  height: 51.842%;
  overflow: hidden;
}

.works-card__img {
  width: 100%;
}

.works-card__body {
  padding: 19px 16px 40px 18px;
}

.works-card__title {
  line-height: 1.5;
}

.works-card__nav {
  margin-top: 30px;
}

.works-card__list {
  font-size: 14px;
  line-height: 1.5;
}

.swiper-container {
  width: 100%;
  height: 407px;
  margin-top: 66px;
}

.swiper-slide {
  height: auto;
}

.cta-area {
  padding-top: 71px;
  padding-bottom: 58px;
  background: -webkit-gradient(linear, left top, right top, from(#05A5FA), color-stop(100%, #63FBD7), to(#67FFD6));
  background: linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%);
  text-align: center;
}

.cta-area__inner {
  color: #FFFFFF;
}

@media only screen and (max-width: 1024px) {
  .cta-area__inner {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.cta-area__text {
  margin-top: 44px;
}

.cta-area__btn {
  margin-top: 44px;
}

.contact-form {
  margin-top: 44px;
  padding-right: 57px;
  padding-left: 57px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.contact-form--bg {
  background-color: #FFFFFF;
}

.contact-form__inner {
  padding-right: 62px;
  padding-left: 62px;
}

@media only screen and (max-width: 599px) {
  .contact-form__inner {
    padding: 0;
  }
}

.contact-form__item {
  text-align: left;
}

.contact-form__list {
  padding-top: 34px;
}

.contact-form__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 599px) {
  .contact-form__title-wrapper {
    display: block;
  }
}

.contact-form__title {
  color: #333333;
}

.contact-form__mandatory {
  background-color: #0C449B;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.8;
  width: 60px;
  text-align: center;
  margin-left: 20px;
}

@media only screen and (max-width: 599px) {
  .contact-form__mandatory {
    margin-top: 10px;
    margin-left: 0;
  }
}

.contact-form__input {
  background-color: #EEFBFB;
  border-radius: 3px;
  border: none;
  outline: none;
  width: 54.956%;
  height: 43px;
  margin-top: 36px;
}

@media only screen and (max-width: 599px) {
  .contact-form__input {
    width: 100%;
  }
}

.contact-form__textarea {
  border: none;
  outline: none;
  background-color: #EEFBFB;
  border-radius: 3px;
  margin-top: 36px;
  width: 86.233%;
  height: 179px;
}

@media only screen and (max-width: 599px) {
  .contact-form__textarea {
    width: 100%;
    height: 100px;
  }
}

.contact-form__checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 27px;
}

.contact-form__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.contact-form__checkbox-text {
  color: #333333;
}

.contact-form__btn {
  border: none;
  margin-top: 30px;
  margin-bottom: 35px;
}

.end-message {
  display: none;
}

.false-message {
  display: none;
}

/* FOOTER
------------------------------------------------------- */
.footer {
  background-color: #F8F8F8;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 49px;
}

.footer__title {
  font-size: 24px;
  line-height: 2;
}

.footer__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 21px;
  margin-bottom: 52px;
}

@media only screen and (max-width: 599px) {
  .footer__text-wrapper {
    display: block;
  }
}

.footer__text {
  font-weight: bold;
  margin-left: 29px;
}

.footer__copyright {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */